/* =============
    Base
============= */

li {
    list-style: none;
    
 
 }
.gs-dev-tools {

    z-index: 1500;
}

figure {
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

#Vector6{
    display: none;
}

.hide2{
    display: none;
}

.hide3{
    display: none;
}

.ball2{
    display: none;
}

.hide5{
    display: none;
}

.hide10{
    display: none;
}

.new2{
    display: none;
}
.sameee{display: none;}
.yes{display: none;}
.yes2{display: none;}
.yes3{display: none;}
.yes4{display: none;}
.yes7{display: none;}
.yes8{display: none;}
.ye{display: none;}
.bye{display: none;}
.bye3{display: none;}










ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }

    a{

        text-decoration: none;
    }
}

