#hero{


    height: 130vh;
    width: 100%;
    overflow: hidden;
    padding-top: 60px;

    include xl{
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 2500px auto;
    }

   >div{

    align-items: center;
    background-image: url("../img/hero/Hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100%;
    

    @include xl{
        grid-area: hero;
    } 

    

    #hero-content{

        color: black;
        text-align: left;
       padding-left: 20px;
       padding-top: 870px;

       h1{
        font-family: 'Work Sans', sans-serif;
      
        font-weight: 500;
        

        @include md{
            font-size: rem-calc(70);

        }

        @include lg{
            font-size: rem-calc(90);

        }

        
       }

       h2{
        font-family: 'Exo 2', sans-serif;
    
        font-size: rem-calc(20);
        padding-left: 10px;
      
        font-weight: 300;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);

        @include md{
            font-size: rem-calc(20);

        }

        @include lg{
            font-size: rem-calc(30);

        }

        
       }

      


    }

    
    }


  }







