#info{
    background-color:#fffdf9;

   


    i{
        font-size: 100px;
        font-weight: 100;
      margin-left: 30px;
      margin-top: -45px;
       text-align: center;
       text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
          
            
        color:black;
        &:hover,
        &:active {
            color:wheat;
            ;
        }

       }

       ul{
        margin: 50px;
        

        grid-area: info;


        h1{
            font-family: 'Work Sans', sans-serif;
      
            font-weight: 500;
        
            text-align: right;
            padding-bottom: 20px;
            padding-top: 40px;
            padding-right: 65px;
            font-size: 24px;

            @include md{
                font-size: 30px;
            }

            

        }

        p{
            font-size: 18px;
            text-align: justify;
            padding-right: 70px;
            padding-left: 70px;
            line-height: 30px;
            

            
        }
        
        
       
        
        @include md{
           
            display: grid;
            grid-template-columns: 50% auto; 
            grid-template-areas: 
            "p1 p2"
            
                }



       }

       

        




}
