#footer{
    grid-area: footer;

    background-color: #f5e4cc;
   
    
    
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-areas: ". footer .";
   
    justify-content: center;


    ul{
        font-size: rem-calc(30);
        grid-area: footer;
        display: flex;
        justify-content: center;
        list-style-type: none;


        li{
            

           
            a{
               
                color: $black;
                display: flex;
                
               margin-top: 30px;
               margin-bottom: 30px;
               margin-left: 20px;
               font-size: 40px;
       
               @include md {
                 
                   // padding-bottom: 10px;
                   font-size: 12px;
               }
   
               @include lg{
                   font-size: 12px;
               }
   
               @include xl{
                   font-size: 14px;
   
               }
               &:hover,
         &:active {
             color: #B7A99C;
         
        }
            }



        }

    }
  





}
