/* =============
    Header
============= */

header{

    position: fixed;
    background-color: #fef7ed;;
    width: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5000;
    z-index: 1000;


    >div {
        display: grid;
        grid-template-areas: 
        "logo burger"
        "nav nav";
        grid-template-columns: 20% auto;

        @include lg {
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }

        #logo-container {
            grid-area: logo;
           padding-left: 20px;
        }

        #burger-container {
            align-items: center;
            justify-content: flex-end;
            display: flex;
            grid-area: burger;
            padding: 10px;
            position: relative;

            @include lg {
                display: none;
            }

           
            #burger{
                position: absolute;
                z-index: 1000;
                height: 40px;
                width: 40px;
                
            }
        }

        #nav-container {
            
            background-color:#fef7ed;
            grid-area: nav;
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: 500;


            @include lg {
                background-color: #fef7ed;
                position: static;
                height: 100%;
                width: 100%;
            }
        }

        
    }
}